<main>
  <h1 class="text-uppercase text-center fw-bold my-7" style="font-size: 50px;">Un framework php <span class="text-primary">léger</span> <br><span class="text-lowercase">pour débutant</span></h1>

  <div class="d-flex justify-content-center my-5">
    <a href="" class="btn btn-primary text-uppercase text-light me-2">Commencer</a>
    <a href="" class="btn btn-outline-primary text-uppercase">Parcourir la documentation</a>
  </div>


  <p class="paragraph text-center m-auto my-5">
    Ostyna est un framework php pour des application web légère 
    et facile a prendre en main, en cours de développement.<br>
    Nous apportons des mise à jour récurrente, 
    alors n'hésitez pas à faire vos propositions de fonctionnalités ou de nous faire remonter un bugs.  
  </p>

  <div class="text-center my-5">
    <a href="" class="btn btn-primary text-light text-uppercase">Télécharger la dernière version</a> 
  </div>
  

  <section class="container mt-5 mb-7">
    <div class="row">
      <div class="text-center col">
        <h2 class="text-uppercase fs-5 fw-bold">Gestion de votre base de données</h2>
        <p class="paragraph  m-auto">Ostyna intègre un ORM pour vous permettre de mettre en place votre base de données simplement et rapidement. Avec de simples lignes de commandes, créez vos tables, ajoutez des valeurs, et récupérez les pour les utiliser dans vos controlleurs</p>
      </div>
      <div class="text-center col">
        <h2 class="text-uppercase fs-5 fw-bold">Moteur de template intégré</h2>
        <p class="paragraph m-auto">Ostyna contient un moteur de templates simple et efficace qui vous permettra d’afficher des données en toute sécurité et de manière optimisée.</p>
      </div>
    </div>
  </section>
</main>