<footer class="bg-dark py-4">
  <section class="">
    <a class="navbar-brand" href="/">
      <img src="/assets/svgs/logo/logoOstyna-light.svg" alt="Ostyna" height="150">
    </a>

    <div class="mx-3 links">
      <a class="nav-link text-light" href="#">Documentation</a>
      <a class="nav-link text-light" href="#">Téléchargement</a>
      <a class="nav-link text-light" href="#">Changelogs</a>
      <a class="nav-link text-light" href="#">Rapporter un bug</a>
      <a class="nav-link text-light" href="#">Connexion</a>
    </div>

  </section>
</footer>