<nav class="navbar bg-dark">
  <div class="container">
    <div class="nav">
      <a class="navbar-brand" href="/">
        <img src="/assets/svgs/logo/logoOstyna-full-light.svg" alt="Ostyna" height="24">
      </a>
      <a class="nav-link text-light" href="/documentation">Documentation</a>
      <a class="nav-link text-light" href="https://github.com/enLussi/ostyna-framework/tree/dev" target="_blank">Téléchargement</a>
      <a class="nav-link text-light" href="/changelog">Changelogs</a>
      <a class="nav-link text-light" href="/tickets">Rapporter un bug</a>
    </div>
    <div>
      <a class="nav-link text-light" href="{{ connexion_button.link }}">{{ connexion_button.label }}</a>
      {{ if connexion_button.connected == "true" }}
      <a class="nav-link text-light" href="/deconnexion">Deconnexion</a>
      {{ endif }}
    </div>
    
  </div>
</nav>