
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


* {
  font-family: 'Nunito Sans', sans-serif;
}

main {
  min-height: 80vh;
}

.paragraph {
  width: clamp(350px, 95% ,550px);
}

footer > section{
  width: clamp(300px, 95%, 1000px);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  row-gap: 10px;

  margin: auto;
}

footer > section > div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: minmax(3rem, auto);
  column-gap: 20px;

}

pre {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 15px;
}

section.block {
  min-width: 350px;
  width: 95%;
  max-width: 1000px;
}