
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


* {
  font-family: 'Nunito Sans', sans-serif;
}

@media screen and (min-width: 1024px) {
  .responsive-desktop {
    display: block;
  }

  .responsive-phone {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .responsive-desktop {
    display: none;
  }

  .responsive-phone {
    display: block;
  }
}

main {
  min-height: 80vh;
}

h1 {
  min-width: 300px;
}

.paragraph {
  width: clamp(300px, 95% ,550px);
}


footer > section{
  width: clamp(300px, 95%, 1000px);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  row-gap: 10px;

  margin: auto;
}

footer > section > div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: minmax(3rem, auto);
  column-gap: 20px;
}

@media screen and (max-width: 1023px) {
  footer .links {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 450px;
  }

  footer .links a {
    display: block;
  }

}

pre {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 15px;
}

section.block {
  min-width: 350px;
  width: 95%;
  max-width: 1000px;
}

.loading {
  position: relative;
}

.bg-percentage {
  width: 80%;
  height: 10px;
  background-color: aliceblue;

  border-radius: 5px;
  margin: 30px auto 50px auto;

  overflow: hidden;

}

.loading .bg-percentage .percentage {
  height: 10px;
  width: 0;
  background-color: #ed9403;
  transition: all 0.5s ease-in;
}

.loading #indicator {
  position: absolute;

  color: #F0E8DA;
  
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.indicate {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background-color: #ed9403;
  

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.indicate p {
  margin: 0;
  padding: 0;
}